.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.like-button, .dislike-button {
    font-size: 1rem;
    padding: 5px 10px;
    color:   #585858;
    margin:5px;
}
.liked, .disliked {
    font-weight: bold;
    color: #1565c0;
}